@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
	@*<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>*@
	<script src="~/Content/Scripts/jquery-1.8.0.min.js"></script>
	<title>Star Wars</title>
</head>
<body data-server="@ViewBag.ServerName" data-session="@ViewBag.SessionId">
	<script src="~/Content/Scripts/planets.js"></script>
	<script src="~/Content/Scripts/ships.js"></script>
	<script src="~/Content/Scripts/init.js"></script>
</body>

</html>
