@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<title>Star Wars</title>
</head>
<body data-server="@ViewBag.ServerName">
	<script src="~/Content/Scripts/Prototypes/planets.js"></script>
	<script src="~/Content/Scripts/Prototypes/ships.js"></script>
	<script src="~/Content/Scripts/Prototypes/bombs.js"></script>

	<script src="~/Content/Scripts/Modules/requests.js"></script>
	<script src="~/Content/Scripts/Modules/utils.js"></script>

	<script src="~/Content/Scripts/Modules/game.js"></script>
	<script src="~/Content/Scripts/Modules/space.js"></script>
	<script src="~/Content/Scripts/Modules/ship.js"></script>

	<script src="~/Content/Scripts/init.js"></script>
</body>

</html>
