@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
	<title>Star Wars</title>
</head>
<body>
    <div id="Sidebar">
        <div id="SelectShip"></div>
        <div id="CurrentShip">
            <div id="CurrentShipHP">
                <div id="CurrentShipHPValue">

                </div>
            </div>
        </div>

        <table id="Statistics">
            <tbody>
                <tr id="StatHeader">
                    <td class="StatShip">Ship</td>
                    <td class="StatPlayer">Player</td>
                    <td class="StatKill">+</td>
                    <td class="StatDeath">-</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script data-main="Game/Scripts/main" src="~/Scripts/require.js"></script>
</body>

</html>
